@font-face {
  font-family: "Montserrat";
  src: local("../assets/fonts/montserrat/Montserrat-Bold"),
    url("../assets/fonts/montserrat/Montserrat-Bold.eot") format("embedded-opentype"),
    url("../assets/fonts/montserrat/Montserrat-Bold.woff") format("woff"),
    url("../assets/fonts/montserrat/Montserrat-Bold.woff2") format("woff2"),
    url("../assets/fonts/montserrat/Montserrat-Bold.ttf") format("truetype");
  font-weight: 700;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: "Montserrat";
  src: local("../assets/fonts/montserrat/Montserrat-SemiBold"),
    url("../assets/fonts/montserrat/Montserrat-SemiBold.eot") format("embedded-opentype"),
    url("../assets/fonts/montserrat/Montserrat-SemiBold.woff") format("woff"),
    url("../assets/fonts/montserrat/Montserrat-SemiBold.woff2") format("woff2"),
    url("../assets/fonts/montserrat/Montserrat-SemiBold.ttf") format("truetype");
  font-weight: 600;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: "Montserrat";
  src: local("../assets/fonts/montserrat/Montserrat-Medium"),
    url("../assets/fonts/montserrat/Montserrat-Medium.eot") format("embedded-opentype"),
    url("../assets/fonts/montserrat/Montserrat-Medium.woff") format("woff"),
    url("../assets/fonts/montserrat/Montserrat-Medium.woff2") format("woff2"),
    url("../assets/fonts/montserrat/Montserrat-Medium.ttf") format("truetype");
  font-weight: 500;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: "Montserrat";
  src: local("../assets/fonts/montserrat/Montserrat-Regular"),
    url("../assets/fonts/montserrat/Montserrat-Regular.eot") format("embedded-opentype"),
    url("../assets/fonts/montserrat/Montserrat-Regular.woff") format("woff"),
    url("../assets/fonts/montserrat/Montserrat-Regular.woff2") format("woff2"),
    url("../assets/fonts/montserrat/Montserrat-Regular.ttf") format("truetype");
  font-weight: 400;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: "Inter";
  src: local("../assets/fonts/inter/Inter-SemiBold"),
    url("../assets/fonts/inter/Inter-SemiBold.eot") format("embedded-opentype"),
    url("../assets/fonts/inter/Inter-SemiBold.woff") format("woff"),
    url("../assets/fonts/inter/Inter-SemiBold.woff2") format("woff2"),
    url("../assets/fonts/inter/Inter-SemiBold.ttf") format("truetype");
  font-weight: 600;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: "Inter";
  src: local("../assets/fonts/inter/Inter-Medium"),
    url("../assets/fonts/inter/Inter-Medium.eot") format("embedded-opentype"),
    url("../assets/fonts/inter/Inter-Medium.woff") format("woff"),
    url("../assets/fonts/inter/Inter-Medium.woff2") format("woff2"),
    url("../assets/fonts/inter/Inter-Medium.ttf") format("truetype");
  font-weight: 500;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: "Inter";
  src: local("../assets/fonts/inter/Inter-Regular"),
    url("../assets/fonts/inter/Inter-Regular.eot") format("embedded-opentype"),
    url("../assets/fonts/inter/Inter-Regular.woff") format("woff"),
    url("../assets/fonts/inter/Inter-Regular.woff2") format("woff2"),
    url("../assets/fonts/inter/Inter-Regular.ttf") format("truetype");
  font-weight: 400;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: "Inter";
  src: local("../assets/fonts/inter/Inter-LightBETA"),
    url("../assets/fonts/inter/Inter-LightBETA.eot") format("embedded-opentype"),
    url("../assets/fonts/inter/Inter-LightBETA.woff") format("woff"),
    url("../assets/fonts/inter/Inter-LightBETA.woff2") format("woff2"),
    url("../assets/fonts/inter/Inter-LightBETA.ttf") format("truetype");
  font-weight: 300;
  font-style: normal;
  font-display: swap;
}